body{
    background-color: #2d2d2d
}

.title{
    text-align: center;
    background: rgb(34,193,195);
    background: linear-gradient(-35deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}

.subheading{
    text-align:center;
    color: #3700B3
}

.info{
    color:white;
    text-align: left;
    width: 55%;
}